* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

.container {
    display: inline;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.display {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
    margin-top: 300px;

}






