@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.container {
    display: inline;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#display {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
    margin-top: 300px;
    font-size: 35px;

}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;

}


.btn {
    background-color: rgb(212, 211, 211);
    border: 3px solid white;
    color: white;
    border-radius: 20%;
    margin: auto 15px;
    height: 100px;
    width: 100px;
    padding: 20px;
    font-size: 30px;
}


.btn:hover {
    background-color: white;
    color: grey;
    border: 3px solid grey;
}

#input-value {
    height: 90px;
    width: 150px;
    padding: 20px;
    border-radius: 10px;
    font-size: 45px;
    font-family: "Roboto", sans-serif;
    border: 5px solid rgb(193, 193, 193);
}